<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <a href="agregar-cliente" class="btn btn-primary">Agregar</a>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th>Nombre</th>
                            <th>Edad</th>
                            <th>Fecha</th>
                            <th>Género</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Brandon Quintero</td>
                            <td>19</td>
                            <td>2005-01-20</td>
                            <td>Masculino</td>
                            <td><a href="editar-cliente/1" class="btn btn-warning text-white">Editar</a></td>
                            <td><a class="btn btn-danger">Eliminar</a></td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>