<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <a href="agregar-cliente" class="btn btn-primary">Agregar</a>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th>Nombre</th>
                            <th>Edad</th>
                            <th>Fecha</th>
                            <th>Género</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cliente of clientes">
                            <td>{{ cliente.idCliente }}</td>
                            <td>{{ cliente.nombre }}</td>
                            <td>{{ cliente.edad }}</td>
                            <td>{{ cliente.fecha }}</td>
                            <td>{{ cliente.genero === 'M' ? 'Masculino' : 'Femenino'  }}</td>
                            <td><a href="editar-cliente/{{cliente.idCliente}}" class="btn btn-warning text-white">Editar</a></td>
                            <td><a class="btn btn-danger" (click)="deleteCliente(cliente.idCliente)">Eliminar</a></td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>